<div>
<div class="jumbotron text-center">
  <h1>Ellie</h1>
  <p>I build websites</p>
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>
</div>
